#overlay{
	display: inline-block;
	width: 150px;
	height: 150px;
	position: fixed;
	text-align: center;
	bottom: 0;
	right: 0;
	margin-bottom: 200px;
	margin-right: 50px;
}
.overlaycontent{
/*	background-color: red;
	border: 5px solid yellow;*/
	position: relative;
}
.note{
	position: absolute;
	text-align: center;
 	margin-left: 63px;
 	font-weight: bold;
}

div img{
	border: 18px solid red;
}
.overlaycontent{
	display: inline-block;
	border: 8px solid yellow;
}

body{
	position: relative;
}
