.alert, .mc4wp-alert{
  padding: 18px 30px 18px 20px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  &.alert-info, &.mc4wp-notice{
    background-color: #cceeff;
    color: #00aaff;
  }
  &.alert-success, &.mc4wp-success{
    background-color: #c9f7b2;
    color: #61a600;
  }
  &.alert-warning, &.mc4wp-warning{
    background-color: #fff2b2;
    color: #ff9900;
  }
  &.alert-danger, &.mc4wp-error{
    background-color: #ffd9d9;
    color: #ff0000;
  }
  .close{
    top: -5px;
    right: -15px;
    font-weight: 300;
    font-size: 24px;
    opacity: 1;
    text-shadow: none;
    outline: none !important;
    @include transition();
  }
}

.mc4wp-alert{
  margin: 10px 0 0;
  padding: 10px 15px;
}